Pods/*
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Fastlane
derived_data/
slather-report/
fastlane/test_output/
logs/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
HungerStation.ipa
fastlane/report.xml
HungerStation.app.dSYM.zip
HungerStation-*.ipa
HungerStation-*.zip
_Prebuild/
_Prebuild_delta/
cocoapods-binary-cache/
.DS_Store
