Pods/*
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

derived_data/

## Various settings
*.pbxuser
!default.pbxuser

## Other
*.moved-aside
.DS_Store
xcuserdata/
